@tailwind base;
@tailwind components;
@tailwind utilities;

/* Gradiente radial personalizado */
.bg-gradient-radial {
  background: radial-gradient(circle, var(--tw-gradient-stops));
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
}
